body {
  font-family: 'Montserrat';
  background-color: #000000; }

.body1 {
  background-image: url(../images/body.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 0; }

.body2 {
  background-image: url(../images/body2.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bodyContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0; }

.bodyContainer3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0; }

body {
  font-family: 'Montserrat';
  background-color: #000000; }

body {
  font-family: 'Montserrat';
  background-color: #000000; }

.body1 {
  background-image: url(../images/body.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 0; }

.body2 {
  background-image: url(../images/body2.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bodyContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0; }

.bodyContainer3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px; }
  header .header__logo {
    background-image: url("../images/logo-empresa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 120px;
    animation-name: big;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0; }
  header .header__logo:hover {
    transform: scale(1.05);
    cursor: pointer; }
  header .header__menu {
    width: 750px; }
    header .header__menu ul {
      list-style-type: none;
      overflow: hidden;
      background-color: #000000;
      font-size: 20px;
      padding: 5px 10px; }
    header .header__menu li {
      float: left; }
      header .header__menu li a {
        display: block;
        color: #e2e2e2;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        width: 120px; }
      header .header__menu li a:hover {
        background-color: #e2e2e2;
        color: #000000; }
  header .header__menuMobil {
    display: none; }

.main__index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main__index .main__logoInicio {
    background-image: url("../images/logo-evento.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 600px;
    height: 220px; }

.main__Nosotros {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly; }
  .main__Nosotros .main__nosotrosLeft {
    display: flex;
    flex-direction: column;
    margin: 10px 25px 10px 50px;
    width: 50%; }
    .main__Nosotros .main__nosotrosLeft .main__logoNosotrosEmpresa {
      background-image: url("../images/logo-evento.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 200px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }
  .main__Nosotros .main__nosotrosRight {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 10px 25px;
    width: 50%; }
    .main__Nosotros .main__nosotrosRight .main__logoNosotrosEvento {
      background-image: url("../images/logo-empresa.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 200px;
      height: 120px;
      margin-left: auto;
      margin-right: auto; }

.main__Room {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .main__Room .main__roomRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    width: 60%; }
    .main__Room .main__roomRight iframe {
      border-radius: 20px;
      width: 35vw;
      height: 22vw;
      border-top: solid #e2e2e2;
      border-left: solid #e2e2e2;
      border-bottom: solid #ffd12a;
      border-right: solid #ffd12a; }

.main__Agenda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .main__Agenda .main__agendaRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    width: 60%; }
    .main__Agenda .main__agendaRight .linkCalendar {
      text-align: center; }
      .main__Agenda .main__agendaRight .linkCalendar a {
        color: #e2e2e2;
        text-decoration: none;
        font-size: 18px; }
    .main__Agenda .main__agendaRight .table__Agenda .calendar {
      color: #e2e2e2;
      font-size: 18px;
      text-align: left; }
      .main__Agenda .main__agendaRight .table__Agenda .calendar td h5 {
        margin-left: 40px;
        margin-bottom: 5px; }
      .main__Agenda .main__agendaRight .table__Agenda .calendar td h6 {
        margin-left: 45px;
        margin-bottom: 10px; }
      .main__Agenda .main__agendaRight .table__Agenda .calendar li {
        list-style-type: square; }

.main__Contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly; }
  .main__Contact .main__contactLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    width: 50%; }
    .main__Contact .main__contactLeft .form {
      width: 100%;
      margin: 8px 10px;
      box-sizing: border-box;
      border-radius: 10px;
      font-size: 15px;
      padding: 5px 20px; }
    .main__Contact .main__contactLeft .pForm {
      color: #e2e2e2;
      font-size: 15px;
      margin: 10px;
      padding-right: 60px; }
      .main__Contact .main__contactLeft .pForm a {
        color: #e2e2e2;
        text-decoration: none;
        font-weight: bold; }
    .main__Contact .main__contactLeft .acepto {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .main__Contact .main__contactLeft .enviar:hover {
      background-color: #ffd12a;
      box-shadow: 0 0px 16px 0 rgba(255, 255, 255, 0.2); }
  .main__Contact .main__contactRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 50px;
    width: 50%; }
    .main__Contact .main__contactRight h3 {
      color: #e2e2e2;
      font-size: 15px;
      padding: 0px 100px; }
    .main__Contact .main__contactRight .redes {
      display: flex;
      flex-direction: row;
      justify-content: center; }

@keyframes big {
  50% {
    transform: scale(1.05); } }

.main__logoOtros {
  background-image: url("../images/logo-evento.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 500px;
  height: 220px; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px; }
  footer .footer__logo {
    background-image: url("../images/logo-empresa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 120px; }
  footer .pfooter {
    color: #e2e2e2;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter; }
    footer .pfooter a {
      color: #e2e2e2;
      font-weight: bold;
      text-decoration: none; }

.main__othersLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
  width: 40%; }
  .main__othersLeft .main__logoOtros {
    width: 350px;
    height: 100px; }

.speakersRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
  width: 60%; }
  .speakersRight .speakers {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  .speakersRight .speakerMark {
    background-image: url("../images/mark.jpg"); }
  .speakersRight .speakerJeff {
    background-image: url("../images/jeff.jpg"); }
  .speakersRight .speakerElon {
    background-image: url("../images/elon.jpg"); }

.main__policy {
  margin-left: 100px;
  margin-right: 100px; }

.contador {
  color: #e2e2e2;
  font-size: 22px;
  text-align: center; }

.titulo {
  color: #e2e2e2;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.subtitulo {
  color: #e2e2e2;
  font-weight: bold;
  font-size: 22px;
  text-align: center; }

.p {
  color: #e2e2e2;
  font-size: 15px;
  text-align: justify; }

.li {
  color: #e2e2e2;
  font-size: 15px;
  list-style-type: square;
  text-align: left; }

@media only screen and (max-width: 559px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0; }
    header .header__menu {
      display: none; }
    header .header__menuMobil {
      display: contents; }
  .main__index .main__logoInicio {
    width: 350px;
    height: 100px; }
  footer .footer__logo {
    display: none; }
  .contador {
    padding: 0; }
  .main__Nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .main__nosotrosLeft {
    margin: 0px; }
  .main__nosotrosRight {
    margin: 0px; }
  .main__Room {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .main__Room .main__roomRight iframe {
      border-radius: 20px;
      width: 75vw;
      height: 42vw;
      border-top: solid #e2e2e2;
      border-left: solid #e2e2e2;
      border-bottom: solid #ffd12a;
      border-right: solid #ffd12a; }
  .main__Agenda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .main__Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .main__Contact .main__contactRight {
      margin-left: 100px;
      width: 100%; }
      .main__Contact .main__contactRight h3 {
        padding: 0px 10px; }
  .subtitulo {
    font-size: 16px; }
  .main__Agenda .main__agendaRight {
    margin: 0px 0px; }
    .main__Agenda .main__agendaRight .table__Agenda .calendar td h5, .main__Agenda .main__agendaRight .table__Agenda .calendar td h6 {
      padding: 0px;
      margin: 0px 0px 0px 10px;
      font-size: 14px; }
  .speakersRight .speakers {
    width: 150px;
    height: 150px; } }

@media only screen and (min-width: 559px) and (max-width: 965px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 0; }
    header .header__menu {
      transform: scale(0.7); }
  .main__index .main__logoInicio {
    width: 550px;
    height: 200px; }
  .main__othersLeft .main__logoOtros {
    width: 350px;
    height: 100px; }
  .main__Room {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .main__Room .main__roomRight iframe {
      border-radius: 20px;
      width: 75vw;
      height: 42vw;
      border-top: solid #e2e2e2;
      border-left: solid #e2e2e2;
      border-bottom: solid #ffd12a;
      border-right: solid #ffd12a; }
  .main__Agenda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .main__Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .main__Contact .main__contactRight {
      margin-left: 0px;
      width: 100%; }
      .main__Contact .main__contactRight h3 {
        padding: 0px 200px; }
  .main__Agenda .agendaRight {
    margin: 0px 0px; }
    .main__Agenda .agendaRight .table__Agenda .calendar td h5, .main__Agenda .agendaRight .table__Agenda .calendar td h6 {
      padding: 0px;
      margin: 0px 0px 0px 10px;
      font-size: 15px; } }
